alias data='/run/media/frzknix/Data'
alias vim='/usr/bin/nvim'
alias open='/usr/bin/dde-file-manager . &'
alias pdf='/usr/bin/zathura'
alias t='todo.sh'
alias mapkeys='xmodmap  ~/.xmodmap'
alias shrug="echo '¯\\_(ツ)_/¯'" 
alias volup='amixer -q set Master 2dB+' unmute
alias voldown='amixer -q set Master 2dB-' unmute
alias addogap='i3 gaps outer current plus 1'
alias minogap='i3 gaps outer current minus 1'
alias addigap='i3 gaps inner current plus 1'
alias minigap='i3 gaps inner current minus 1'
alias lc='colorls'
alias say='gtts-cli'
alias gtd='cd ~/Downloads'
alias q='exit'
alias walls='cd ~/Downloads/Wallpapers && ranger'
alias rr='ranger'
alias walli='wal -o ~/.scripts/termitewal -i'
